.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App__wrap {
  display: flex;
  flex-direction: row;
}

.App__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App__wrap,
.button_clear {
  margin-bottom: 20px;
}

.button_check-all {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
